modules = ["nodejs-20", "web"]

[nix]
channel = "stable-25_05"
packages = ["zip"]

[workflows]
runButton = "Run Server"

[[workflows.workflow]]
name = "Run Server"
author = 45292033
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"

[[ports]]
localPort = 5000
externalPort = 80
